body {
    background-color: aqua;
    display: inline-block;
}
h1 {
    text-align: center;
}
p {
    color: blue
}
.login-form {
    margin: auto;
    width: 100%;
    text-align: center;
    height: 100%;
    position: absolute;
}
#username-input {

}
#password-input {

}
.form-text {
    min-width: 100px;
}